@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito: "Nunito", sans-serif;
}


body {
  @apply font-sans;
  
}

section {
  float: left; width: 100%; padding: 50px 0;
}
